.image {
    height: 200px;
    width: 300px;
    box-shadow: 5px 5px 10px #ccc;
    border: 20px;
    padding: 15px;
    margin: 0;
}

.image-text {
  padding: 15px;
    width: 350px;
    margin: 0;
    height: 650px;
    box-shadow: 10px 10px 20px #ccc;
    border-style: solid; 
    border-color: grey;
}

.para {
        font-style: italic;
}

.animal-info {
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    border: 1px;
    border-style: solid;
    width: 300px;
    height: 350px;
    border-color: grey;
    margin: 0;
    
}

.specifications-bold {
    font-weight: bold;
}

.list {
    list-style-type: none;
    padding-left: 1px;
}
